<footer class="footer">
  <div class="container-fluid">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          © 2023 Chatbot, Inc.
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="logo">
            <a href="https://chatbot.ai">
              Chatbot.ai
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
